[submodule "system/core"]
	path = system/core
	url = git://github.com/gabrielliwerant/core.git
[submodule "system/utils"]
	path = system/utils
	url = git://github.com/gabrielliwerant/abrightcms_utils.git
