header {
  background-color:#dddddd;
  padding:5px;
  margin-bottom:10px;
}
header li {
  float:left;
  width:75px;
}
footer {
  background-color:#dddddd;
  padding:5px;
  margin-top:10px;
}
.rounded-corners {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}
.drop-shadow {
  -moz-box-shadow:2px 2px 2px #444444;
  -webkit-box-shadow:2px 2px 2px #444444;
  box-shadow:2px 2px 2px #444444;
}
.glow {
  -moz-box-shadow:0 0 5px #bbbbbb;
  -webkit-box-shadow:0 0 5px #bbbbbb;
  box-shadow:0 0 5px #bbbbbb;
}
.clear { clear:both; }
body {
  color:#000000;
  background-color:#f9f9f9;
  font-family:Calibri, Helvetica, Arial, sans-serif;
}
a { color:#0196e3; }
a :visited { color:#0196e3; }
a :hover { text-decoration:underline; }
ul.todoproject-list, ul.todolist-list { margin:0 0 20px 20px; }
ul.todoproject-list li, ul.todolist-list li { cursor:n-resize; }
ul.todoproject-list li div, ul.todolist-list li div { display:inline-block; }
li.todolist { margin:20px 0 0 20px; }
li.todolist .todolist-container .content {
  font-size:18px;
  font-weight:bold;
}
li.todoproject .todoproject-container .content {
  font-size:22px;
  font-weight:bold;
}
li.todoitem {
  margin-left:20px;
  font-size:16px;
  line-height:20px;
}
li.todoitem div.todoitem-container {
  margin:3px 0;
  background-color:#eeeeee;
  padding:3px;
  border:1px solid #cccccc;
  width:605px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}
li.todoitem div.todoitem-container :hover {
  border-color:#bbbbbb;
  -moz-box-shadow:0 0 5px #bbbbbb;
  -webkit-box-shadow:0 0 5px #bbbbbb;
  box-shadow:0 0 5px #bbbbbb;
}
li.todoitem div.todoitem-container .content {
  width:347px;
  float:left;
  margin:0 5px;
}
li.todoitem .checked {
  filter:1;
  -moz-opacity:.40;
  -khtml-opacity:.40;
  opacity:.40;
}
li.todoitem .checked .content { text-decoration:line-through; }
li.todoitem input[type="checkbox"] {
  float:left;
  margin-top:4px;
}
li.todoitem input[type="text"] {
  word-wrap:break-word;
  width:342px;
}
li.todoitem.checked .todoitem-container {
  filter:1;
  -moz-opacity:.40;
  -khtml-opacity:.40;
  opacity:.40;
}
li.todoitem.checked .todoitem-container .content { text-decoration:line-through; }
li.todolistcomment, li.todoitemcomment {
  margin-left:20px;
  font-size:12px;
}
.ui-dialog {
  background:#ffffff;
  border:1px solid #333333;
  padding:4px;
  margin:auto;
  cursor:default;
  -moz-box-shadow:2px 2px 2px #444444;
  -webkit-box-shadow:2px 2px 2px #444444;
  box-shadow:2px 2px 2px #444444;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}
.ui-dialog .ui-dialog-titlebar {
  border:1px solid #333333;
  background:#444444;
  color:#ffffff;
  padding:2px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close { float:right; }
.ui-dialog .ui-dialog-content { padding:6px; }
.ui-dialog .dialog-box { display:none; }
#dialog-overlay {
  width:100%;
  height:100%;
  background:#000000;
  position:fixed;
  top:0;
  left:0;
  z-index:999;
  display:none;
  filter:1;
  -moz-opacity:.55;
  -khtml-opacity:.55;
  opacity:.55;
}
