header {
  background-color:#dddddd;
  padding:5px;
  margin-bottom:10px;
}
header li {
  float:left;
  width:75px;
}
footer {
  background-color:#dddddd;
  padding:5px;
  margin-top:10px;
}
.rounded-corners {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}
.drop-shadow {
  -moz-box-shadow:2px 2px 2px #444444;
  -webkit-box-shadow:2px 2px 2px #444444;
  box-shadow:2px 2px 2px #444444;
}
.glow {
  -moz-box-shadow:0 0 5px #bbbbbb;
  -webkit-box-shadow:0 0 5px #bbbbbb;
  box-shadow:0 0 5px #bbbbbb;
}
