html {
  color: #000;
  background: #FFF;
}
a {
  color: #000;
  text-decoration: none;
  outline: none;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
b,
i {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
}
input,
textarea,
select {
  *font-size: 100%;
}
legend {
  color: #000;
}
.no-text-shadow {
  text-shadow: none;
}
.css_clear {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.box_sizing {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.test {
  border: 10px solid red;
}
body {
  font-size: 100%;
}
a {
  text-decoration: underline;
}
a:hover,
a.section-nav {
  text-decoration: none;
}
.clear {
  clear: both;
}
.no-css,
.hide,
noscript {
  display: none;
}
.show {
  display: block;
}
.left {
  float: left;
}
.right {
  float: right;
}
#wrapper-outer {
  width: 100%;
  margin: auto;
}
#warning,
#warning a {
  color: ;
}
#warning {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  line-height: 1.25em;
  padding: 1.5em;
  background: yellow;
  top: 0;
  border-bottom: 3px solid red;
}
#warning i {
  display: none;
}
.exception {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  padding: 1em;
  background: #ffffff;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}
header {
  margin-bottom: 1em;
}
header #branding {
  padding: 1em;
}
header #branding h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
header #branding h2 {
  font-size: 1.75em;
  margin-bottom: 0.5em;
}
header #branding h3 {
  font-size: 1.5em;
}
header nav {
  background-color: #dddddd;
  padding: 1em;
}
header nav li {
  display: inline-block;
  margin-right: 1em;
}
header nav ul li:last-child {
  margin-right: 0;
}
#container {
  padding: 1em;
}
footer {
  background-color: #dddddd;
  padding: 1em;
  margin-top: 1em;
}
footer li .separator {
  display: none;
}
pre {
  width: 100%;
  overflow: auto;
  font-size: 1.25em;
  background-color: ;
  padding: 0.75em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-bottom: 1em;
}
pre ol li {
  list-style: decimal !important;
  color: ;
  font-weight: bold;
}
pre code {
  font-family: ;
  color: ;
  font-weight: normal;
}
pre code span.indent-1 {
  padding: 0 0.75em 0 3em;
}
pre code span.indent-2 {
  padding: 0 0.75em 0 6em;
}
pre:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 650px) {
  body {
    font-size: 110%;
  }
  footer li {
    display: inline-block;
  }
  footer li .separator {
    display: inline-block;
    margin: 0 0.5em;
  }
}
@media only screen and (min-width: 850px) {
  body {
    font-size: 120%;
  }
}
@media only screen and (min-width: 1100px) {
  body {
    font-size: 130%;
  }
}
