/*
	Header LESS file that is compiled into styles.css using lessphp.

	@author Gabriel Liwerant
*/

header {
	background-color: #ddd;
	padding: 5px;
	margin-bottom:10px;

	li {
		float: left;
		width: 75px;
	}
}