/**
 * Header
 *
 * Header section.
 *
 * @package A Bright CMS
 * @author Gabriel Liwerant
 */

header {
	background-color: @header-color;
	padding: 1em;
	margin-bottom: 1em;

	li {
		display: inline-block;
		margin-right: 1em;
	}
	
	ul li:last-child {
		margin-right: 0;
	}
}